html, body{
	/* background: url('../img/background3.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
	/*para centrar imagen*/
	
}
header{
	background: #303F9F;
	color: #E8EAF6;
	
}
.page-header {
    padding-bottom: 9px;
    margin: 3px 0 -5px;
    border-bottom: 0px solid #eee;
}
.lead {
    color: #C5CAE9;
}
.list-group-item-success {
    color: #1A237E;
    background-color: #adb2d1;
}
footer {
    background: #303F9F;
    color: #E8EAF6;
}
.table > thead{
    /*font-size: 15px;*/
    background: #5160b5;
    color: #E8EAF6;
}
.table > tbody > tr > td {
     vertical-align: middle;
}